extends ../layouts/common
block content
 .container.mt-3
  h3.text-center Edit Information Book
  form(method='POST')

    .form-group
    label(for='name') Name of Book
    input.form-control.col-md-6(type='text', name='name', value=books ? books[0].name : "")

    label(for='quantity') Quantity
    input.form-control.col-md-6(type='text', name='quantity', value=books ? books[0].quantity : "")

    label(for='author') Author 
    input.form-control.col-md-6(type='text', name='row', value=books ? books[0].author : "")

    label(for='publishingYear') Publishing Year 
    input.form-control.col-md-6(type='date', name='column', value=books ? books[0].publishingYear : "")

    label(for='kind') Kind of book
    input.form-control.col-md-6(type='text', name='kind', value=books ? books[0].kind : "")

    label(for='address') Address
    input.form-control.col-md-6(type='text', name='address', value=books ? books[0].address : "")
    br
    button.btn.btn-primary Submit