extends ../layouts/common
block content

	h2 Infomation staff
	p
	b ID:
	span= readers[0].readerId

	br
	b Name:
	span= readers[0].name

	br
	b Date Of Birth:
	span= readers[0].dateofbirth

	br
	b Gender:
	span= readers[0].gender

	br
	b Phone:
	span= readers[0].phone

	br
	b ID Card:
	span= readers[0].IdCard

	br
	b Email:
	span= readers[0].email

	br
	b Address:
	span= readers[0].address

	br
	b Date Create Reader:
	span= readers[0].dateCreate

	br
	b Date Expiry :
	span= readers[0].expiryDate