extends ../layouts/common
block content

	h2 Infomation staff
	p
	b ID:
	span= readers[0].readerId

	br
	b Tên:
	span= readers[0].name

	br
	b Ngày Sinh:
	span= readers[0].dateofbirth

	br
	b Giới Tính:
	span= readers[0].gender

	br
	b Số Điện Thoại:
	span= readers[0].phone

	br
	b Email:
	span= readers[0].email

	br
	b Địa Chỉ:
	span= readers[0].address